name: Semgrep

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  flutter_and_semgrep:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.29.3'

      - name:  Install dependencies
        run: |
          cd proyecto
          flutter pub get

      - name: И Run tests
        run: |
          cd proyecto
          flutter test || true

      - name: Install Semgrep
        run: |
          # Instalar dependencias necesarias
          sudo apt-get update
          sudo apt-get install -y wget jq

          # Descargar la 煤ltima versi贸n de Semgrep y verificar la URL
          echo "Descargando la 煤ltima versi贸n de Semgrep..."
          SEMGREP_URL=$(curl -s https://api.github.com/repos/returntocorp/semgrep/releases/latest | jq -r .assets[0].browser_download_url)
          echo "URL de descarga de Semgrep: $SEMGREP_URL"

          # Verificar si la URL es v谩lida
          if [[ -z "$SEMGREP_URL" ]]; then
            echo "Error: No se pudo obtener la URL de descarga de Semgrep."
            exit 1
          fi

          # Descargar e instalar Semgrep
          wget -q -O semgrep.tar.gz "$SEMGREP_URL"

          # Extraer y mover el binario
          echo "Extrayendo semgrep..."
          tar -xzf semgrep.tar.gz
          chmod +x semgrep
          sudo mv semgrep /usr/local/bin/

          # Verificar la instalaci贸n de semgrep
          semgrep --version

      - name: Run Semgrep (custom rules)
        run: |
          semgrep --config .semgrep.yml --output semgrep-results.json --json

      - name: Check .semgrep.yml content
        run: cat .semgrep.yml  # Imprime el contenido del archivo .semgrep.yml para depuraci贸n

      - name: Deploy results to GitHub Pages
        run: |
          # Copia los resultados generados a la rama gh-pages
          git clone --branch gh-pages https://github.com/${{ github.repository }} gh-pages
          cp semgrep-results.json gh-pages/semgrep-results.json
          cp index.html gh-pages/index.html
          cd gh-pages
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Update Semgrep results"
          git push
